{% extends "layout.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- jquery -->
{% endblock %}


{% block body %}
<div class="container">
    <div class="row text-center page-header">
        <h1> Might-Do List </h1>
        <h6>
            A list all the tasks for the day other than the daily highlight. This is basically a to-do list but without
            the pressure of having to do it all.
        </h6>
    </div>


    <!-- Button trigger modal -->
    <div class="row text-center">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Item
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header primarypink">
                    <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="task" name="task" placeholder="Enter Task">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="addtask" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- list of all todo items and done or not status -->
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped" id="taskstable">
                <thead>
                    <tr>
                        <th class="col-md-10">Task</th>
                        <th class="col-md-2">Status</th>
                        <th hidden>ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        {% if task.done %}
                        <td class="col-md-10"><del> {{ task.description }} </del></td>
                        <td class="col-md-2">
                            <div class="form-check">
                                <input class="form-check-input taskcheckbox" type="checkbox" value=""
                                    id="{{ task._id }}" checked>
                            </div>
                        </td>
                        {% else %}
                        <td class="col-md-10">{{ task.description }}</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input taskcheckbox" type="checkbox" value=""
                                    id="{{ task._id }}">
                            </div>
                        </td>
                        {% endif %}
                        <td hidden>{{ task._id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="{{ url_for('static', filename='scripts/mightdolist.js') }}"></script>

{% endblock %}